<app-header title="Demonstrate skills"></app-header>

<h5>Front-end</h5>
<ul>
  <li>Angular</li>
  <li>RxJS</li>
  <li>Form controls</li>
  <li>Bootstrap</li>
</ul>

<h5>Back-end</h5>
<ul>
  <li>Node JS</li>
  <li>Express</li>
  <li>Postgresql</li>
  <li>Database migration</li>
  <li>JWT token</li>
</ul>

<h5>Devops</h5>
<ul>
  <li>Docker</li>
  <li>Heroku container hosting</li>
  <li>Git</li>
  <li>CI/CD GitHub Actions</li>
</ul>

<h3>Repositories</h3>
<ul>
  <li><a href="https://github.com/hollox/wh-web">Front-end</a></li>
  <li><a href="https://github.com/hollox/wh-tickets-api">Back-end</a></li>
  <li><a href="https://github.com/hollox/wh-documentation/blob/master/documents/logs.md">Work logs</a></li>
</ul>

<h5>Wish to have more available time to accomplish</h5>
<ul>
  <li>Improve routing with PUT and PATCH instead of mixing params and body on a POST</li>
  <li>Implement reminder with sendGrid and a heroku clock instance</li>
  <li>Implement responsive design on all forms</li>
  <li>Update transaction details with user details from token</li>
  <li>Improve responseness and remove first double rendering of pages</li>
  <li>Create a store to establish a source of truth</li>
  <li>Tests for back-end tests with Jest</li>
  <li>Tests for front-end tests Jasmine and Protractor</li>
  <li>Implement localization with i18n </li>
  <li>Replace authService in the front-end with a generic solution</li>
  <li>Sync database users creation with auth0 service</li>
  <li>Improve CI/CD by incorporating the linting, sonarcloud and automatic testing GitHub Actions</li>
</ul>

