<ng-container *ngIf="route.snapshot.params.organizationId; then existingOrganizationTp else newOrganizationTp"></ng-container>

<ng-template #existingOrganizationTp>
  <app-header title="Organization {{route.snapshot.params.organizationId}}"></app-header>
</ng-template>

<ng-template #newOrganizationTp>
  <app-header title="New organization"></app-header>
</ng-template>

<ng-container *ngIf="dataLoaded; then dataLoadedTp else dataLoadingTp"></ng-container>

<ng-template #dataLoadedTp>
  <form [formGroup]="organizationFormGroup" (ngSubmit)="onOrganizationSubmit()">
    <div class="form-group">
      <label for="organization_name">Name</label>
      <input type="text" class="form-control" id="organization_name" formControlName="name">
      <div class="alert alert-danger" *ngIf="organizationFormGroup.get('name').touched && organizationFormGroup.get('name')?.errors?.required">Name is required.</div>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="organizationFormGroup.invalid || organizationFormGroup.pristine">save organization</button>
    <button class="btn btn-secondary" type="submit" [disabled]="!organizationFormGroup.get('organizationId').value" (click)="onNewUserClick()">New user</button>
  </form>

  <app-header title="Users"></app-header>
  <div class="row">
    <div class="col">Email</div>
    <div class="col">Firstname</div>
    <div class="col">Lastname</div>
  </div>
  <div class="row clickable" *ngFor="let user of organizationFormGroup.get('users').value" (click)="onRowClick(user)">
    <div class="col">{{user.email}}</div>
    <div class="col">{{user.firstname}}</div>
    <div class="col">{{user.lastname}}</div>
  </div>

  <form [formGroup]="userFormGroup" (ngSubmit)="onUserSubmit()">
    <div class="form-group">
      <label for="user_email">Email</label>
      <input type="text" class="form-control" id="user_email" formControlName="email">
      <div class="alert alert-danger" *ngIf="userFormGroup.get('email').touched && userFormGroup.get('email')?.errors?.required">Email is required.</div>
    </div>
    <div class="form-group">
      <label for="user_firstname">Firstname</label>
      <input type="text" class="form-control" id="user_firstname" formControlName="firstname">
    </div>
    <div class="form-group">
      <label for="user_lastname">Lastname</label>
      <input type="text" class="form-control" id="user_lastname" formControlName="lastname">
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="userFormGroup.invalid || userFormGroup.pristine">save user</button>
  </form>
</ng-template>

<ng-template #dataLoadingTp>
  <app-spinner></app-spinner>
</ng-template>
